#shield-modal.open {
    display: block;
}

.modal-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(3px);
    inset: 0;
    pointer-events: all;
    z-index: 10000;
}

.modal-overlay .modal-content {
    width: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: #f7f9fb;
    padding: 25px;
}

.modal-overlay .modal-content .title-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.modal-overlay .modal-content .title-wrapper span {
    display: block;
    font-size: 20px;
    color: #0F6E80;
    cursor: pointer;
}

.modal-overlay .modal-content .title-wrapper p {
    font-size: 14px;
    margin-top: 10px;
}

.modal-overlay .modal-content .shield-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.modal-overlay .modal-content .shield-wrapper .shield-choose {
    height: 50px;
    width: 30%;
    border: 1px solid #104169;
    color: #104169;
    padding: 8px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;

    cursor: pointer;
}

.modal-overlay .modal-content .shield-wrapper .shield-choose:hover {
    background: #104169;
    box-shadow: 0 0 5px #104169;
    transform: scale(1.02);
    background: linear-gradient(to right, #104169 11%, #0F6E80 100%);
    color: #f7f9fb;
}

.modal-overlay .modal-content .shield-wrapper .shield-choose.checked {
    background: #104169;
    box-shadow: 0 0 5px #104169;
    transform: scale(1.02);
    background: linear-gradient(to right, #104169 11%, #0F6E80 100%);
    color: #f7f9fb;
}

.modal-overlay .modal-content .shield-wrapper .shield-choose h3 {
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    color: inherit;
}

@media screen and (max-width:377px) {
    .modal-overlay .modal-content .shield-wrapper {
        gap: 10px;
    }

    .modal-overlay .modal-content .shield-wrapper .shield-choose h3 {
        font-size: 12px;
    }
}