@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: #232e34;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
    /* border: 1px solid red; */
}

h1,
h2,
h3,
h4 {
    font-family: "Oswald", sans-serif;
    line-height: 1.2;
}

h1 {
    margin-top: 10px;
    font-size: 3em;
    color: inherit;
}

p,
span {
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f7f9fb;
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.section-title {
    text-transform: uppercase;
    color: #0F6E80;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
}

header {
    top: 20px;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
    width: 100%;
    /* overflow: hidden */
}

.shadow-nav {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #0f6d8061;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    border-radius: 50px;
    padding: 30px;
}

header .logo img {
    height: 50px;
}


button:hover {
    box-shadow: 0 0 10px #104169;
    transform: scale(1.02);
}

button {
    border: none;
    padding: 0 20px;
    height: 40px;
    border-radius: 50px;
    background: #104169;
    background: linear-gradient(to right, #104169 11%, #0F6E80 100%);
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.2s ease;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
}

header .hamburger {
    display: none;
    position: relative;
    width: 20px;
    height: 1.5px;
    background: #000;
}

header .hamburger::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 1px;
    background: #000;
    top: 10px;
}

header .hamburger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background: #000;
    bottom: 10px;
}

@media screen and (max-width:1000px) {
    nav ul li {
        margin: 0 10px;
    }

    #hero .container .left-side h1 {
        font-size: 3em;
    }
}

@media screen and (max-width:900px) {
    nav {
        background: rgba(255, 255, 255);
        border-radius: 10px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid #0f6d8061;
        width: 200px;
        padding: 10px 50px;
        position: absolute;
        right: 0;
        top: 65px;
        display: none;
    }

    nav.open {
        display: block;
    }

    nav ul li {
        display: block;
        margin: 20px 0;
    }

    header .hamburger {
        display: block;
    }
}

/* ********************************* Hero Section ************************************* */

.circle-blur {
    width: 300px;
    height: 300px;
    background: rgb(187, 60, 133);
    background: linear-gradient(239deg, rgba(187, 60, 133, 1) 0%, rgba(16, 65, 105, 1) 57%, rgba(0, 212, 255, 1) 100%);
    filter: blur(120px);
    position: absolute;
    z-index: -5;
}

#hero {
    margin-top: 6.3em;
    padding: 50px 0;
    overflow: hidden;
    /* height: 85vh; */
}

#hero .container .left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

#hero .container .left-side h1 {
    font-size: 3.5em;
    font-family: "Oswald", sans-serif;
    line-height: 1.2;
}

#hero .container .left-side h1 span {
    font-size: inherit;
    font-family: inherit;
    background: #104169;
    background: linear-gradient(to right, #104169 11%, #0F6E80 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#hero .container .left-side button {
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background: #104169;
    background: linear-gradient(to right, #104169 11%, #0F6E80 100%);
    transition: all 0.2s ease;
    color: #fff;
}

#hero .container .left-side button:hover {
    box-shadow: 0 0 10px #104169;
    transform: scale(1.02);
}

#wrote-effect {
    border-right: 4px solid #0F6E80;
    animation: blink-cursor 0.75s step-end infinite;
}

@keyframes blink-cursor {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #0F6E80;
    }
}

#hero .container .left-side .statistic {
    display: flex;
}

#hero .container .left-side .statistic .data {
    border-right: 1px solid #104169;
    padding: 0 30px;
}

#hero .container .left-side .statistic .data:first-child {
    padding-left: 0;
}

#hero .container .left-side .statistic .data:last-child {
    border: none;
}

#hero .container .right-side {
    width: 50%;
    position: relative;
}

#hero .container .right-side img {
    height: 670px;
    position: absolute;
    top: -95px;
    mask-image: linear-gradient(to top, transparent, black);
    -webkit-mask-image: linear-gradient(to top, transparent, black);
}


/* ****************************** Our Customer ****************************** */

#our-customer {
    height: 100px;
    padding: 20px 0;
    display: none;
}

#our-customer .container {
    flex-direction: column;
}

#our-customer .container .customers-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#our-customer .container .customers-list .customer {
    font-size: 1.5em;
    font-weight: 600;
    color: #58717f;
}

#our-customer .container .customers-list .customer img {
    /* filter: grayscale(100%); */
    width: 80px;
}

/* *********************************** About Us Section**************************************** */

#about-us {
    padding: 50px 0;
}

#about-us .container .left-side {
    width: 50%;
}

#about-us .container .left-side p {
    margin: 25px 0;
    color: inherit;
    line-height: 1.8;
}

#about-us .container .left-side button {
    width: 150px;
    height: 50px;
}

#about-us .container .right-side {
    width: 50%;
}

#about-us .container .right-side img {
    width: 100%;
}

.circle-blur-about {
    width: 500px;
    height: 500px;
    background: rgb(187, 60, 133);
    background: linear-gradient(239deg, rgba(187, 60, 133, 1) 0%, rgba(16, 65, 105, 1) 57%, rgba(0, 212, 255, 1) 100%);
    filter: blur(200px);
    position: absolute;
    z-index: -5;
    right: 0;
}

/* *************************************** Our features  Section********************************************** */

#our-features .container {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

#our-features .container .title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#our-features .container .title-wrapper h1 {
    text-align: center;
    max-width: 700px;
}

#our-features .container .features {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#our-features .container .features .feature-card {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 80px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    cursor: pointer;
}

#our-features .container .features .feature-card ion-icon {
    font-size: 2.4em;
    color: #0F6E80;
    font-weight: 200;
}

#our-features .container .features .feature-card .content h3 {
    font-weight: 400;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

#our-features .container .features .feature-card .content p {
    font-weight: 300;
    font-size: 13px;
}

.circle-blur-feature {
    width: 500px;
    height: 500px;
    background: rgb(187, 60, 133);
    background: linear-gradient(239deg, rgba(187, 60, 133, 1) 0%, rgba(16, 65, 105, 1) 57%, rgba(0, 212, 255, 1) 100%);
    filter: blur(200px);
    position: absolute;
    z-index: -5;

}

/* ********************************************* Why-choose-us Section********************************************** */

#why-choose-us {
    margin: 50px 0;
    overflow-x: hidden;
}

#why-choose-us .container .left-side {
    width: 50%;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: 20px;
    margin-right: 70px;
    position: relative;
}

#why-choose-us .container .right-side .title-wrapper h1 {
    text-align: left;
}

#why-choose-us .container .left-side .reasons {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#why-choose-us .container .left-side .reasons .card {
    position: relative;
    display: flex;
    gap: 15px;
    align-items: center;
    width: 250px;
    height: 80px;
    padding: 0 20px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    top: 20px;
    left: -200px;
}

#why-choose-us .container .left-side .reasons .card .icon {
    background: #0f6d801f;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#why-choose-us .container .left-side .reasons .card .icon ion-icon {
    font-size: 25px;
    color: #0F6E80;

}

#why-choose-us .container .left-side .reasons span {
    font-size: 14px;
}

#why-choose-us .container .left-side img {
    height: 400px;
    position: relative;
    display: block;
    mask-image: linear-gradient(to top, transparent, black);
}

#why-choose-us .container .right-side {
    max-width: 50%;
}

#why-choose-us .container .right-side p {
    margin: 25px 0;
}

#why-choose-us .container .right-side button {
    width: 150px;
    height: 50px;
}

/* ************************************************ Shield Section ************************************************* */

#shield {
    margin: 80px 0 50px;
}

#shield .container {
    display: flex;
    flex-direction: column;
}

#shield .container .circle-blur-feature {
    right: 0;
    width: 400px;
    height: 400px;
    filter: blur(200px);
}

#shield .container .title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#shield .container .title-wrapper h1 {
    text-align: center;
    max-width: 700px;
}

#shield .container .shield-list {
    margin: 50px 0;
    gap: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

#shield .container .shield {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

#shield .container .shield:hover .icon {
    background: #0F6E80;
    color: #fff;
}

#shield .container .shield .content {
    max-width: 250px;
}

#shield .container .shield .content p {
    font-size: 13px;
}

#shield .container .shield .content h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

#shield .container .shield .icon {
    min-width: 65px;
    min-height: 65px;
    border: 1px solid #0F6E80;
    color: #0F6E80;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.8s;
}

#shield .container .shield .icon ion-icon {
    font-size: 25px;
    color: inherit;
}

/* ************************************** Call to Action Section ******************************************* */
#Call-to-action {
    background-image: url(../public/images/call-to-action.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 50px 0;
    position: relative;
}

#Call-to-action::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #104169;
    background: linear-gradient(to right, #104169 11%, #0F6E80 100%);
    opacity: 0.9;
}

#Call-to-action .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f7f9fb;
    text-align: center;
    position: relative;
    z-index: 10;
}

#Call-to-action .container h1 {
    max-width: 900px;
    font-size: 2.3em;
    font-weight: 400;
}

#Call-to-action .container p {
    margin: 25px 0;
    color: #f7f9fb;
    font-size: 14px;
    max-width: 700px;
}

#Call-to-action .container button {
    background: transparent;
    border: 1px solid #f7f9fb;
}

/* *********************************** Advantages Section ******************************************* */

#advantage {
    /* height: 100vh; */
    margin: 70px 0;
}

#advantage .container .left-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#advantage .container .left-side img {
    width: 600px;
    opacity: 0.5;
    position: relative;
    left: -30px;
    transform: rotate(-30deg);
}

#advantage .container .right-side {
    width: 50%;
}

#advantage .container .right-side .title-wrapper {
    margin-bottom: 50px;
}

#advantage .container .right-side .title-wrapper h1 {
    text-align: left;
}

#advantage .container .right-side .advantage-wrapper {
    display: flex;
    gap: 25px;
    align-items: flex-start;
    margin-bottom: 25px;
}

#advantage .container .right-side .advantage-wrapper .icon {
    min-width: 40px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #104169;
    background: linear-gradient(to right, #104169 11%, #0F6E80 100%);
    border-radius: 50%;
    position: relative;
}

#advantage .container .right-side .advantage-wrapper .icon::before {
    content: '';
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    top: -10;
    left: -10;
    background: #0f6d8038;
    z-index: -2;
}

#advantage .container .right-side .advantage-wrapper .icon ion-icon {
    color: #f7f9fb;
    font-size: 20px;
}

#advantage .container .right-side .advantage-wrapper .content {
    max-width: 450px;
}

#advantage .container .right-side .advantage-wrapper .content h3 {
    margin-bottom: 10px;
    color: #0F6E80;
    font-size: 15px;
    font-weight: 500;
}

#advantage .container .right-side .advantage-wrapper .content p {
    font-size: 13px;
    font-weight: 400;
}



/* ********************************** Faqs Section ************************************ */
#faqs {
    margin-bottom: 100px;
    overflow: hidden;
}

#faqs .container .faqs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#faqs .container {
    flex-direction: column;
    align-items: center;
}

#faqs .container .title-wrapper {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

#faqs .container .faqs .question {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-content: center;
    height: fit-content;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    cursor: pointer;
}

#faqs .container .faqs .question h2 {
    text-align: left;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    transition: color 0.3s ease;
}

#faqs .container .faqs .question p {
    font-size: 14px;
    margin-top: 10px;
    max-height: 0;
    /* Hauteur maximale initiale */
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    visibility: hidden;
}

/* ************************************** Footer **************************************** */
footer {
    background: #104169;
    padding: 50px 0;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .container .wrapper {
    display: flex;
    gap: 80px;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Permet aux colonnes de passer à la ligne si nécessaire */
    margin-bottom: 50px;
    width: 100%;
    /* S'assure que le contenu utilise tout l'espace disponible */
    max-width: 1200px;
    /* Limite la largeur sur les grands écrans */
}

footer .container .wrapper .col {
    flex: 1;
    /* Chaque colonne prend une largeur égale */
    min-width: 250px;
    /* Largeur minimale pour éviter une colonne trop petite */
    margin-bottom: 30px;
    /* Espacement entre les colonnes sur petits écrans */
    color: #f7f9fb;
}

footer .container .wrapper .col img {
    width: 180px;
}

footer .container .wrapper .col p {
    color: inherit;
    margin: 30px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
}

footer .container .wrapper .col .social-media {
    display: flex;
    gap: 20px;
}

footer .container .wrapper .col .social-media ion-icon {
    color: #f7f9fb;
    font-size: 24px;
}

footer .container .wrapper .col h4 {
    color: #f7f9fb;
    margin-bottom: 20px;
}

footer .container .wrapper .col ul {
    list-style: none;
    padding: 0;
}

footer .container .wrapper .col ul li {
    color: #f7f9fb;
    margin-bottom: 15px;
    cursor: pointer;
}

footer .container .wrapper .col ul li:hover {
    text-decoration: underline;
    /* Pour un effet interactif */
}

footer .container .wrapper .col .adress span {
    display: block;
    color: #f7f9fb;
    margin-bottom: 10px;
    font-size: 14px;
}

footer .container hr {
    border: none;
    background: #f7f9fb67;
    height: 1px;
    width: 100%;
}

#copyright {
    color: #f7f9fb;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

/* ======== Media Queries ======== */

@media (max-width: 768px) {
    footer .container .wrapper {
        flex-direction: column;
        align-items: center;
    }

    footer .container .wrapper .col {
        width: 100%;
        text-align: center;
    }

    footer .container .wrapper .col .social-media {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    footer {
        padding: 30px 10px;
    }

    footer .container .wrapper .col p,
    footer .container .wrapper .col .adress span {
        font-size: 14px;
    }

    footer .container .wrapper .col .social-media ion-icon {
        font-size: 20px;
    }

    #copyright {
        font-size: 12px;
    }
}


/*********************************************** Responsive ***********************************************/


@media screen and (max-width:1432px) {
    h1 {
        font-size: 3em;
    }

    header .container {
        width: 70%;
    }

    nav ul li {
        margin: 0 5px;
        font-size: 14px;
    }
}

@media screen and (max-width:1234px) {
    #hero .container .left-side h1 {
        font-size: 2.5em;
    }

    #about-us .container .left-side h1 {
        font-size: 2.5em;
    }

    #about-us .container {
        align-items: center;
    }

    #why-choose-us .container .right-side .title-wrapper h1 {
        font-size: 2.5em;
    }

    #why-choose-us .container .left-side {
        margin-right: 30px;
    }

}

@media screen and (max-width:1200px) {

    #why-choose-us .container .left-side .reasons .card {
        /* border: 1px solid red; */
        width: 200px;
    }

    #why-choose-us .container .left-side {
        margin-right: 10px;
    }

    #testimonial {
        display: none;
    }
}

@media screen and (max-width:1023px) {
    #hero .container .left-side {
        gap: 30px;
    }

    #hero .container .left-side h1 {
        font-size: 2em;
    }

    #hero .container .left-side p {
        font-size: 14px;
    }
}

@media screen and (max-width:860px) {
    #why-choose-us .container .right-side .title-wrapper h1 {
        font-size: 3em;
    }

    #about-us .container .left-side h1 {
        font-size: 3em;
    }

    #hero {
        height: fit-content;
    }

    #hero .container {
        flex-direction: column;
        gap: 30px;
    }

    #hero .container .left-side {
        width: 100%;
        align-items: start;
    }

    #hero .container .left-side h1 {
        font-size: 3.5em;
        text-align: left;
        line-height: 1;
    }

    #hero .container .left-side p {
        text-align: left;
        font-size: initial;
        max-width: 600px;
    }

    #hero .container .right-side {
        width: 100%;
        /* height: 100vh; */
    }

    #hero .container .right-side img {
        display: none;
        height: 100%;
        width: 100%;
        position: initial;
        mask-image: linear-gradient(to top, transparent, black);
        -webkit-mask-image: linear-gradient(to top, transparent, black);
    }


    #about-us .container {
        flex-direction: column-reverse;
    }

    #about-us .container .left-side {
        width: 100%;
    }

    #about-us .container .right-side {
        width: 100%;
    }

    #why-choose-us .container {
        flex-direction: column-reverse;
        gap: 35px;
    }

    #why-choose-us .container .left-side {
        width: 100%;
        justify-content: center;
        transform: translateX(80px);
    }

    #why-choose-us .container .right-side {
        width: 100%;
        max-width: 100%;
    }

    #advantage .container {
        flex-direction: column-reverse;
        gap: 35px;
    }

    #advantage .container .left-side {
        width: 100%;
    }

    #advantage .container .right-side {
        width: 100%;
    }

    #faqs .container .title-wrapper {
        max-width: 100%;
    }
}

/* ********************************************** Mobile ***************************************************** */

@media screen and (max-width:426px) {
    header .logo img {
        height: 30px;
    }

    header .container {
        width: 90%;
    }

    header .container button {
        display: none;
    }

    #hero .container .left-side h1 {
        font-size: 2.3em;
    }

    #about-us .container .left-side h1 {
        font-size: 2.3em;
    }

    #our-features .container .title-wrapper h1 {
        font-size: 2.3em;
    }

    #why-choose-us .container .right-side .title-wrapper h1 {
        font-size: 2.3em;
    }

    #shield .container .title-wrapper h1 {
        font-size: 2.3em;
    }

    #Call-to-action .container h1 {
        font-size: 2.3em;
        max-width: 100%;
    }

    #advantage .container .right-side .title-wrapper h1 {
        font-size: 2.3em;
    }

    #faqs .container .title-wrapper h1 {
        font-size: 2.3em;
    }

    #why-choose-us .container .left-side .reasons .card {
        width: 250px;
        left: -80px;
    }

    #choose-img {
        display: none;
    }
}

@media screen and (max-width:376px) {
    #hero .container .left-side h1 {
        font-size: 2em;
    }
}

@media screen and (max-width:320px) {

    #hero .container .left-side h1 {
        font-size: 1.7em;
    }

    .statistic .data h3 {
        font-size: 14px;
    }

    #about-us .container .left-side h1 {
        font-size: 1.8em;
    }

    #our-features .container .title-wrapper h1 {
        font-size: 1.8em;
    }

    #why-choose-us .container .right-side .title-wrapper h1 {
        font-size: 1.8em;
    }

    #shield .container .title-wrapper h1 {
        font-size: 1.8em;
    }

    #Call-to-action .container h1 {
        font-size: 1.8em;
        max-width: 100%;
    }

    #advantage {
        overflow-x: hidden;
    }

    #advantage .container .right-side .title-wrapper h1 {
        font-size: 1.8em;
    }

    #faqs .container .title-wrapper h1 {
        font-size: 1.8em;
    }

}